In [560]:
import numpy as np
import pandas  as pd


from keras.models import Sequential
from keras.layers import Dense
from sklearn.preprocessing import LabelEncoder
from keras.utils import to_categorical

In [561]:

data = pd.read_csv("AB_NYC_2019.csv")

sample_data = data.sample(frac=0.1, random_state=42)

remaining_data = data.drop(sample_data.index)

sample_data_no_price = sample_data.drop(columns=['price'])
sample_data_no_price.to_csv("sample_no_price.csv", index=False)

remaining_data.to_csv("test_data.csv",index=False)

In [562]:
data.head(10)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.40,1,0
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.47,1,220
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
9,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2019-06-09,1.33,4,188

In [563]:
data=data.drop(['id', 'name', 'host_id', 'host_name', 'last_review', 'latitude', 'longitude'],axis=1)

In [ ]:



city_encoder = LabelEncoder()
data['city_code'] = city_encoder.fit_transform(data['neighbourhood_group']) * 10


data['location_code'] = -1  


for group_code in data['city_code'].unique():
    mask = data['city_code'] == group_code
    hood_encoder = LabelEncoder()
    hood_codes = hood_encoder.fit_transform(data.loc[mask, 'neighbourhood'])
    
    
    data.loc[mask, 'location_code'] = group_code + hood_codes


print(data[['neighbourhood_group', 'neighbourhood', 'location_code']].head())

  neighbourhood_group neighbourhood  location_code
0            Brooklyn    Kensington             41
1           Manhattan       Midtown             37
2           Manhattan        Harlem             30
3            Brooklyn  Clinton Hill             23
4           Manhattan   East Harlem             24

In [565]:
print(data.columns)

Index(['neighbourhood_group', 'neighbourhood', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'reviews_per_month',
       'calculated_host_listings_count', 'availability_365', 'city_code',
       'location_code'],
      dtype='object')

In [566]:
print(data['location_code'])

0        41
1        37
2        30
3        23
4        24
         ..
48890    12
48891    20
48892    30
48893    31
48894    31
Name: location_code, Length: 48895, dtype: int64

In [567]:
data=data.drop(['neighbourhood_group', 'neighbourhood','city_code'],axis=1)

In [568]:
room_encoder = LabelEncoder()
data['room_type'] = room_encoder.fit_transform(data['room_type'])

In [569]:
data.head(5)

,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,location_code
0,1,149,1,9,0.21,6,365,41
1,0,225,1,45,0.38,2,355,37
2,1,150,3,0,NaN,1,365,30
3,0,89,1,270,4.64,1,194,23
4,0,80,10,9,0.10,1,0,24

In [570]:
print(data.columns)

Index(['room_type', 'price', 'minimum_nights', 'number_of_reviews',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'location_code'],
      dtype='object')

In [571]:
features = ['room_type', 'price', 'minimum_nights', 'number_of_reviews',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'location_code']

X = data[features]
y = data['price']

In [572]:
pip install seaborn joblib

Requirement already satisfied: seaborn in c:\users\emre gundogdu\appdata\local\programs\python\python311\lib\site-packages (0.13.2)
Requirement already satisfied: joblib in c:\users\emre gundogdu\appdata\local\programs\python\python311\lib\site-packages (1.5.1)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\emre gundogdu\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (2.1.3)
Requirement already satisfied: pandas>=1.2 in c:\users\emre gundogdu\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (2.3.1)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\emre gundogdu\appdata\local\programs\python\python311\lib\site-packages (from seaborn) (3.10.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\emre gundogdu\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\emre gundogdu\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\emre gundogdu\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.58.5)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\emre gundogdu\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\emre gundogdu\appdata\roaming\python\python311\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\emre gundogdu\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\emre gundogdu\appdata\local\programs\python\python311\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\emre gundogdu\appdata\roaming\python\python311\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\emre gundogdu\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\emre gundogdu\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\emre gundogdu\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [573]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.metrics import mean_absolute_error, mean_squared_error
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.callbacks import EarlyStopping
from tensorflow.keras.activations import swish


df = pd.read_csv("AB_NYC_2019.csv")


df = df[(df['price'] >= 10) & (df['price'] <= 500)]
df = df[(df['minimum_nights'] > 0) & (df['minimum_nights'] <= 30)]
df['reviews_per_month'] = df['reviews_per_month'].fillna(0)
df['last_review'] = pd.to_datetime(df['last_review'], errors='coerce')
df['days_since_review'] = (pd.to_datetime('2019-12-31') - df['last_review']).dt.days.fillna(365)
df['price_per_night'] = df['price'] / df['minimum_nights']
df['log_reviews'] = np.log1p(df['number_of_reviews'])


y = df['price']


features = ['room_type', 'neighbourhood_group', 'minimum_nights', 'log_reviews',
            'reviews_per_month', 'calculated_host_listings_count',
            'availability_365', 'days_since_review', 'price_per_night']
X = df[features]

ct = ColumnTransformer([
    ('num', StandardScaler(), ['minimum_nights', 'log_reviews', 'reviews_per_month',
                               'calculated_host_listings_count', 'availability_365',
                               'days_since_review', 'price_per_night']),
    ('cat', OneHotEncoder(sparse_output=False, handle_unknown='ignore'), ['room_type', 'neighbourhood_group'])
])

X_transformed = ct.fit_transform(X)
X_train, X_test, y_train, y_test = train_test_split(X_transformed, y, test_size=0.2, random_state=42)


model = Sequential()
model.add(Dense(64, activation='swish', input_shape=(X_train.shape[1],)))
model.add(Dropout(0.2))
model.add(Dense(32, activation='swish'))
model.add(Dense(1))

model.compile(optimizer='adam', loss='mse', metrics=['mae'])


stop = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)
model.fit(X_train, y_train, validation_split=0.1, epochs=100, batch_size=32, callbacks=[stop], verbose=1)


pred = model.predict(X_test).flatten()
mae = mean_absolute_error(y_test, pred)
rmse = np.sqrt(mean_squared_error(y_test, pred))

print(f"MAE (Ortalama Mutlak Hata): ${mae:.2f}")
print(f"RMSE (Karekök Ortalama Kare Hata): ${rmse:.2f}")


results = pd.DataFrame({'Gerçek Fiyat': y_test.values, 'Tahmin': pred})
print(results.head(10))

Epoch 1/100

c:\Users\Emre Gundogdu\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\layers\core\dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

1061/1061 ━━━━━━━━━━━━━━━━━━━━ 2s 1ms/step - loss: 11900.5898 - mae: 77.2057 - val_loss: 2971.1792 - val_mae: 36.5327
Epoch 2/100
1061/1061 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 3015.6770 - mae: 37.2923 - val_loss: 2705.5361 - val_mae: 34.9940
Epoch 3/100
1061/1061 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 2619.2373 - mae: 34.4573 - val_loss: 2151.1450 - val_mae: 29.8120
Epoch 4/100
1061/1061 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 2282.1790 - mae: 31.3029 - val_loss: 1654.9543 - val_mae: 25.8425
Epoch 5/100
1061/1061 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 1856.0712 - mae: 27.8636 - val_loss: 1284.6907 - val_mae: 21.6913
Epoch 6/100
1061/1061 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 1589.3036 - mae: 25.0936 - val_loss: 1059.7943 - val_mae: 18.8118
Epoch 7/100
1061/1061 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 1336.4277 - mae: 23.1150 - val_loss: 981.4065 - val_mae: 16.1597
Epoch 8/100
1061/1061 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 1205.1693 - mae: 21.7769 - val_loss: 857.9446 - val_mae: 17.1623
Epoch 9/100
1061/1061 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 1139.9514 - mae: 21.3266 - val_loss: 793.4178 - val_mae: 15.2998
Epoch 10/100
1061/1061 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 1033.0834 - mae: 20.2638 - val_loss: 750.7830 - val_mae: 16.5892
Epoch 11/100
1061/1061 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 970.1578 - mae: 19.7090 - val_loss: 651.5026 - val_mae: 14.2937
Epoch 12/100
1061/1061 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 894.9996 - mae: 19.0498 - val_loss: 598.1326 - val_mae: 14.1079
Epoch 13/100
1061/1061 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 823.1443 - mae: 18.5133 - val_loss: 535.2920 - val_mae: 13.5048
Epoch 14/100
1061/1061 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 749.1472 - mae: 17.7665 - val_loss: 471.9807 - val_mae: 12.0740
Epoch 15/100
1061/1061 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 697.8293 - mae: 17.1122 - val_loss: 447.3888 - val_mae: 12.1220
Epoch 16/100
1061/1061 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 639.9609 - mae: 16.3507 - val_loss: 395.6326 - val_mae: 11.2896
Epoch 17/100
1061/1061 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 590.6437 - mae: 15.6986 - val_loss: 362.7884 - val_mae: 11.1523
Epoch 18/100
1061/1061 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 533.3029 - mae: 14.9318 - val_loss: 291.1669 - val_mae: 8.8904
Epoch 19/100
1061/1061 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 459.4858 - mae: 14.1795 - val_loss: 281.2195 - val_mae: 9.0496
Epoch 20/100
1061/1061 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 427.0322 - mae: 13.5729 - val_loss: 253.5972 - val_mae: 8.4289
Epoch 21/100
1061/1061 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 388.3050 - mae: 12.9190 - val_loss: 230.5863 - val_mae: 8.5957
Epoch 22/100
1061/1061 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 375.6792 - mae: 12.7292 - val_loss: 159.5892 - val_mae: 7.3228
Epoch 23/100
1061/1061 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 313.5323 - mae: 11.7809 - val_loss: 156.1633 - val_mae: 7.1419
Epoch 24/100
1061/1061 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 276.0257 - mae: 11.1359 - val_loss: 157.2972 - val_mae: 7.2879
Epoch 25/100
1061/1061 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 279.2184 - mae: 11.1175 - val_loss: 109.1540 - val_mae: 5.8701
Epoch 26/100
1061/1061 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 243.4156 - mae: 10.5585 - val_loss: 91.4764 - val_mae: 5.5043
Epoch 27/100
1061/1061 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 222.2382 - mae: 10.1473 - val_loss: 84.5187 - val_mae: 5.4262
Epoch 28/100
1061/1061 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 209.8674 - mae: 9.8821 - val_loss: 102.5985 - val_mae: 6.1885
Epoch 29/100
1061/1061 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 199.4399 - mae: 9.6088 - val_loss: 74.9575 - val_mae: 5.2734
Epoch 30/100
1061/1061 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 188.2154 - mae: 9.3168 - val_loss: 76.2240 - val_mae: 5.0583
Epoch 31/100
1061/1061 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 181.3122 - mae: 9.2175 - val_loss: 54.1527 - val_mae: 4.4012
Epoch 32/100
1061/1061 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 165.4233 - mae: 8.8871 - val_loss: 54.3138 - val_mae: 4.6783
Epoch 33/100
1061/1061 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 164.7447 - mae: 8.7820 - val_loss: 45.7833 - val_mae: 4.4584
Epoch 34/100
1061/1061 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 158.8999 - mae: 8.6431 - val_loss: 45.0915 - val_mae: 4.3117
Epoch 35/100
1061/1061 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 161.0578 - mae: 8.6641 - val_loss: 44.5795 - val_mae: 3.9249
Epoch 36/100
1061/1061 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 147.1203 - mae: 8.3748 - val_loss: 44.7538 - val_mae: 4.4910
Epoch 37/100
1061/1061 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 139.9497 - mae: 8.1916 - val_loss: 51.6687 - val_mae: 4.4778
Epoch 38/100
1061/1061 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 134.3607 - mae: 8.0921 - val_loss: 45.2695 - val_mae: 4.2423
Epoch 39/100
1061/1061 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 137.5069 - mae: 8.0417 - val_loss: 108.1475 - val_mae: 5.7286
Epoch 40/100
1061/1061 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 144.3249 - mae: 8.2011 - val_loss: 30.3206 - val_mae: 3.4762
Epoch 41/100
1061/1061 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 131.4166 - mae: 7.9098 - val_loss: 41.2087 - val_mae: 4.1196
Epoch 42/100
1061/1061 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 125.9971 - mae: 7.7870 - val_loss: 31.5881 - val_mae: 3.6058
Epoch 43/100
1061/1061 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 134.5724 - mae: 7.9204 - val_loss: 34.0910 - val_mae: 3.6374
Epoch 44/100
1061/1061 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 125.4380 - mae: 7.7264 - val_loss: 33.7090 - val_mae: 3.4888
Epoch 45/100
1061/1061 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 127.2140 - mae: 7.7204 - val_loss: 54.7574 - val_mae: 4.7483
Epoch 46/100
1061/1061 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 127.9136 - mae: 7.7194 - val_loss: 96.4354 - val_mae: 5.8322
Epoch 47/100
1061/1061 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 130.9760 - mae: 7.7962 - val_loss: 35.4062 - val_mae: 3.9203
Epoch 48/100
1061/1061 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 122.9515 - mae: 7.6788 - val_loss: 37.7019 - val_mae: 3.8042
Epoch 49/100
1061/1061 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 115.8863 - mae: 7.4984 - val_loss: 34.1682 - val_mae: 3.6717
Epoch 50/100
1061/1061 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 117.2410 - mae: 7.5024 - val_loss: 34.4410 - val_mae: 3.6233
295/295 ━━━━━━━━━━━━━━━━━━━━ 0s 682us/step
MAE (Ortalama Mutlak Hata): $3.46
RMSE (Karekök Ortalama Kare Hata): $5.70
   Gerçek Fiyat      Tahmin
0           325  319.079224
1           120  129.332474
2            59   57.808449
3            69   63.365742
4            37   36.080402
5            45   46.740662
6           123  125.267815
7           169  168.484253
8            70   67.286911
9            45   46.169956